env:
  TERM: alacritty

font:
  normal:
    family: {{ settings.font }}
  bold:
    family: {{ settings.font }}
  italic:
    family: {{ settings.font }}
  bold_italic:
    family: {{ settings.font }}
  size: 8

draw_bold_text_with_bright_colors: true

#background_opacity: 0.8

selection:
  save_to_clipboard: false

live_config_reload: true
colors:
  primary:
    background: "{{ palettes[1].colors[0] }}"
    foreground: "{{ palettes[0].colors[7] }}"
  cursor:
    text: "{{ palettes[1].colors[0] }}"
    cursor: "{{ palettes[0].colors[7] }}"
  vi_mode_cursor:
    text: "{{ palettes[1].colors[0] }}"
    cursor: "{{ palettes[0].colors[7] }}"
  search:
    matches:
      foreground: "{{ palettes[0].colors[0] }}"
      background: "{{ palettes[2].colors[1] }}"
    focused_match:
      foreground: "{{ palettes[2].colors[1] }}"
      background: "{{ palettes[0].colors[0] }}"
    bar:
      foreground: "{{ palettes[1].colors[4] }}"
      background: "{{ palettes[2].colors[6] }}"
  hints:
    start:
      foreground: "{{ palettes[1].colors[4] }}"
      background: "{{ palettes[2].colors[3] }}"
    end:
      foreground: "{{ palettes[2].colors[3] }}"
      background: "{{ palettes[1].colors[4] }}"
  line_indicator:
    foreground: None
    background: None
  selection:
    text: "{{ palettes[1].colors[0] }}"
    background: "{{ palettes[2].colors[6] }}"

{% for brightness, palette_index in {'normal': 0, 'bright': 2, 'dim': 1}.items() %}
  {{ brightness}}:
{%     for color in ['black', 'red', 'green', 'yellow', 'blue', 'magenta', 'cyan', 'white'] %}
    {{ color }}: "{{ palettes[palette_index].colors[loop.index0] }}"
{%     endfor %}
{% endfor %}
