color0  = {{ palettes[1].colors[0] }}
color1  = {{ palettes[0].colors[0] }}
color2  = {{ palettes[2].colors[0] }}
color3  = {{ palettes[1].colors[7] }}
color4  = {{ palettes[2].colors[7] }}
color5  = {{ palettes[0].colors[7] }}
color6  = {{ palettes[2].colors[3] }}
color7  = {{ palettes[2].colors[6] }}
color8  = {{ palettes[0].colors[6] }}
color9  = {{ palettes[2].colors[4] }}
color10 = {{ palettes[0].colors[4] }}
color11 = {{ palettes[0].colors[1] }}
color12 = {{ palettes[2].colors[3] }}
color13 = {{ palettes[0].colors[3] }}
color14 = {{ palettes[0].colors[2] }}
color15 = {{ palettes[0].colors[5] }}
