[bar/base]
background = {{ palettes[0].colors[0] }}
foreground = {{ palettes[1].colors[4] }}
fixed-center = true
monitor = ${env:MONITOR:}
override-redirect = true
wm-restack = i3
height = 30
offset-y = 10
border-size = 3
border-color = {{ palettes[0].colors[3] }}

font-0 = {{ settings.font }}:size=12;3
font-1 = Font Awesome 5 Brands Regular:style=Regular:size=12;3
font-2 = Font Awesome 5 Free Solid:style=Solid:size=12;3
font-3 = Font Awesome 5 Free Regular:style=Regular:size=12;3
font-4 = Noto Color Emoji:style=Regular:scale=12;3

[bar/datetime]
inherit = bar/base
modules-center = time separator calendar
bottom = true
width = 14%
offset-x = 85%

[bar/health]
inherit = bar/base
modules-center = memory separator cpu separator temperature
width = 14%
offset-x = 85%

[bar/status]
inherit = bar/base
modules-center = battery separator volume separator brightness
width = 14%
offset-x = 1%

[bar/tray]
inherit = bar/base
modules-center = separator
tray-position = center
bottom = true
width = 14%
offset-x = 1%

[bar/workspaces]
inherit = bar/base
modules-center = i3
bottom = true
width = 16%
offset-x = 42%

[module/battery]
type = internal/battery
battery = BAT0
adapter = AC
full-at = 95

{% for state, p_idx, c_idx in [('full', 0, 2), ('charging', 0, 5), ('discharging', 0, 3)] %}
{%     for key, value in {
    'label-'+state: '%percentage%%',
    'format-'+state: '<ramp-capacity>  <label-'+state+'>',
    'format-'+state+'-foreground': palettes[p_idx].colors[c_idx]
    }.items() %}
{{ key }} = {{ value }}
{%     endfor %}
{% endfor %}

{% for icon in ['', '', '', '', ''] %}
ramp-capacity-{{ loop.index0 }} = {{ icon }}
{% endfor %}

[module/brightness]
type = internal/backlight
card = intel_backlight
format =   <label>
label = %percentage%%
format-margin-left = 0
format-margin-right = 1
format-foreground = {{ palettes[1].colors[5] }}

[module/calendar]
type = internal/date
date = %D
label =   %date%
label-foreground = {{ palettes[1].colors[5] }}

[module/cpu]
type = internal/cpu
interval = 2
label =   %percentage%%
label-foreground = {{ palettes[0].colors[3] }}

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
format-padding = 0
strip-wsnumbers = true
pin-workspaces = true
index-sort = true
wrapping-scroll = false

{% for icon in ['', '', '', '', '', '', '', '', '', ''] %}
ws-icon-{{ loop.index0 }} = {{ loop.index0 }};{{ icon }}
{% endfor %}

{% for state, p_idx, c_idx in [('focused', 0, 4), ('unfocused', 1, 4), ('visible', 1, 4), ('urgent', 0, 1)] %}
{%     for key, value in {'-foreground': palettes[p_idx].colors[c_idx], '-padding': 1, '': '%icon%'}.items() %}
label-{{ state }}{{ key }} = {{ value }}
{%     endfor %}
{% endfor %}

[module/memory]
type = internal/memory
interval = 2
label =   %percentage_used%%
label-foreground = {{ palettes[0].colors[4] }}

[module/time]
type = internal/date
time = %I:%M %p
label =   %time%
label-foreground = {{ palettes[0].colors[7] }}

[module/volume]
type = internal/alsa

{% for state, icon in {'volume': '<ramp-volume>', 'muted': ''}.items() %}
{%     for key, value in {
    'label-'+state: '%percentage%%',
    'format-'+state: icon+'  <label-'+state+'>',
    'format-'+state+'-foreground': palettes[0].colors[4]
    }.items() %}
{{ key }} = {{ value }}
{%     endfor %}
{% endfor %}

{% for icon in ['', '', ''] %}
ramp-volume-{{ loop.index0 }} = {{ icon }}
{% endfor %}

[module/weather]
type = custom/script
exec = curl -s 'wttr.in/middletown?format=1' | awk '{print $1 $2}'
interval = 120

[module/temperature]
type = internal/temperature
interval = 2
thermal-zone = 4
warn-temperature = 60
units = true
format = <ramp>  <label>
format-warn =   <label-warn>
format-foreground = {{ palettes[1].colors[4] }}
format-warn-foreground = {{ palettes[0].colors[1] }}
label = %temperature-c%
label-warn = %temperature-c%
{% for icon in ['', '', '', '', ''] %}
ramp-{{ loop.index0 }} = {{ icon }}
{% endfor %}

[module/title]
type = internal/xwindow
label = %title%
label-foreground = {{ palettes[0].colors[7] }}

[module/separator]
type = custom/text
content = |
content-foreground = {{ palettes[0].colors[0] }}
content-padding = 0

[settings]
screenchange-reload = true
format-background = {{ palettes[0].colors[0] }}
format-padding = 1

[global/wm]
margin-top = 0
margin-bottom = 0

; vim:ft=dosini
