* {
{% set color_counter = namespace(value=0) %}
{% for j in [0, 2] %}
{%     for color in palettes[j].colors %}
    color{{ color_counter.value }}: {{ color }};
{%         set color_counter.value = color_counter.value + 1 %}
{%     endfor %}
{% endfor %}

    separatorcolor: @color0;
    background-color: {{ palettes[1].colors[0] }};
    text-color: {{ palettes[0].colors[3] }};
}

#window {
    border-color: {{ palettes[0].colors[3] }};
    border: 4;
    padding: 40px;
}

#prompt {
    text-color: {{ palettes[0].colors[1] }};
}

#case-indicator {
    text-color: @color14;
}


#element.selected.normal {
    background-color: {{ palettes[0].colors[3] }};
    text-color:       {{ palettes[1].colors[0] }};
}

#element.normal {
    text-color:       {{ palettes[1].colors[7] }};
}
